.slot-game-bulb {
    width: 20px;
    height: 20px;
    background-image: radial-gradient(#FFFF88, #F9CA9A);
    border-radius: 100%;
    box-shadow: 2px 2px 3px 1px black;
    transition: 1s;
    filter: brightness(75%);
    margin: 5px;
}
.slot-game-bulb.lighted {
    filter: brightness(110%);
}